body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

// Navbar CSS
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
  color: green;
}
.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: green;
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: blue;
}

.app__navbar-smallscreen {
  display: flex;
  float: right;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  //background: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
  background: rgba(0, 0, 0, 1);
  transition: 0.5s ease;
  text-shadow: 2px 2px 4px #000000;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: whitesmoke;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.app__navbar-smallscreen_links {
  list-style: none;
  background-color: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: whitesmoke;
  font-size: 2rem;
  text-align: center;
  //background-color: -webkit-linear-gradient(45deg, #f3ec78, #af4261);
}

.app__navbar-smallscreen_links li:hover {
  color: white;
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo Image {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo Image {
    width: 110px;
  }
}

// // General/Additional (need to sort) CSS
// main {
//   width: 100%;
//   max-width: 1250px;
//   margin: auto;
//   padding: 80px 30px;
//   min-height: 550px;
// }
// ul {
//   display: flex;
//   text-decoration: none;
//   list-style: none;
//   gap: 15px;
// }
// li {
//   font-weight: 600;
//   font-size: 16px;
// }

// footer {
//   background-color: #333;
//   color: #fff;
//   padding: 10px;
//   text-align: center;
// }

// header {
//   height: 300px;
//   background: linear-gradient(305deg, #dbfff3, transparent);
//   padding: 15px 30px;
// }
// header > div {
//   width: 100%;
//   max-width: 1250px;
//   margin: auto;
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
// .title {
//   width: 50%;
//   font-size: 40px;
//   text-transform: uppercase;
// }

// .card {
//   position: relative;
// }
// .card > h2 {
//   position: absolute;
//   top: 50%;
//   text-align: center;
//   font-size: 32px;
//   color: white;
//   text-transform: uppercase;
//   text-shadow: 1px 1px 20px black;
// }

// .cat_services {
//   width: 100%;
//   .content {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 30px;
//     width: 100%;
//     justify-content: flex-start;
//     .card {
//       display: flex;
//       flex-direction: column;
//       width: 30%;
//     }
//   }
// }
// .card > h2 {
//   font-size: 20px;
//   padding: 1rem;
//   line-height: 18px;
// }

// .card > p {
//   height: 200px;
//   line-height: 20px;
//   padding: 0.5rem;
//   text-align: left;
// }

// .email_registration {
//   margin-top: 25px;
//   label {
//     display: flex;
//     margin-bottom: 15px;
//     font-size: 18px;
//     font-weight: 800;
//     text-transform: uppercase;
//     margin-top: 25px;
//   }
//   input {
//     height: 40px;
//     min-width: 350px;
//     box-shadow: none;
//     border-radius: 5px;
//     border: 1px solid #ccc;
//     font-size: 16px;
//   }
//   button {
//     border-radius: 5px;
//     height: 40px;
//     min-width: 150px;
//     border: 1px solid #5f5a5a;
//     font-size: 16px;
//     text-transform: uppercase;
//     margin-left: 10px;
//     font-weight: 600;
//     background: #dcfff3;
//     color: black;
//     cursor: pointer;
//     &:hover {
//       color: #dcfff3;
//       background-color: #333;
//     }
//   }
// }
