// App CSS
.section__padding {
  padding: 4rem 6rem;
}
.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}
.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 50vh;
}
.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}
.app__wrapper_img Image {
  width: 80%;
}
@media screen and (min-width: 2000px) {
  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }
  .app__wrapper_img Image {
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .p__opensans {
    font-size: 14px;
  }
}
@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }
}

// Navbar CSS
.app__navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 1rem 2rem;
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__navbar-logo Image {
  width: 150px;
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
}
.app__navbar-links li {
  margin: 0 1rem;
  cursor: pointer;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}
.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login Link {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}

.app__navbar-login Link:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
  width: 1px;
  height: 30px;
  background: var(--color-grey);
}

.app__navbar-smallscreen {
  display: none;
}
.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black);
  transition: 0.5s ease;

  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: blueviolet;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: blueviolet;
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (min-width: 2000px) {
  .app__navbar-logo Image {
    width: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo Image {
    width: 110px;
  }
}

// Header CSS
.app__header-h1 {
  font-family: var(--font-base);
  color: blueviolet;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 117px;
  font-size: 90px;
}
.app__header-img Image {
  width: 80%;
}
@media screen and (min-width: 2000px) {
  .app__header-h1 {
    font-size: 180px;
    line-height: 210px;
  }
}

@media screen and (max-width: 1150px) {
  .app__header-h1 {
    font-size: 90px;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 70px;
    line-height: 87px;
  }
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    font-size: 50px;
    line-height: 70px;
  }
}

// Video CSS
ul {
  list-style: none;
}

header {
  height: 300px;
  background: linear-gradient(305deg, #dbfff3, transparent);
  padding: 15px 30px;
}
header > div {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  width: 50%;
  font-size: 40px;
  text-transform: uppercase;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 15px;
}
li {
  font-weight: 600;
  font-size: 16px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  width: 100%;
  max-width: 1250px;
  margin: auto;
  padding: 80px 30px;
  min-height: 550px;
}
.home_body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.image {
  width: 40%;
}
.card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.card:nth-child(even) {
  direction: rtl;
}
.content {
  width: 50%;
}

.about_us_list {
  display: flex;
  flex-direction: column;
}

.services_page {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.card {
  position: relative;
}
.card > h2 {
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 20px black;
}

.cat_services {
  width: 100%;
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: flex-start;
    .card {
      display: flex;
      flex-direction: column;
      width: 30%;
    }
  }
}
.card > h2 {
  font-size: 20px;
  padding: 1rem;
  line-height: 18px;
}

.card > p {
  height: 200px;
  line-height: 20px;
  padding: 0.5rem;
  text-align: left;
}

.email_registration {
  margin-top: 25px;
  label {
    display: flex;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 25px;
  }
  input {
    height: 40px;
    min-width: 350px;
    box-shadow: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  button {
    border-radius: 5px;
    height: 40px;
    min-width: 150px;
    border: 1px solid #5f5a5a;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    background: #dcfff3;
    color: black;
    cursor: pointer;
    &:hover {
      color: #dcfff3;
      background-color: #333;
    }
  }
}
